#sidebar {
    padding-top: 20px;
    max-height: calc(100vh - 62px);
    overflow-y: auto;
    position: fixed;

    p {
        margin: 10px 0;
    }

    .nav-item a {
        display: block;
        padding: .3rem 0;
        color: #212529;
        text-decoration: none;
        position: relative;

        &:hover {
            background: #f8f9fa;

            // .star-icon {
            //     display: block;
            // }
        }

        // .star-icon {
        //     position: absolute;
        //     right: 0;
        //     top: 9px;
        //     display: none;
        // }
    }

    img {
        width: 25px;
        height: 25px;
        border-radius: 2px;
    }

    .sidebar-icon {
        width: 25px;
        height: 25px;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
#sidebar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
#sidebar {
    -ms-overflow-style: none;
}